# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# Raw data (too heavy for Git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/